<!DOCTYPE html>
<html>

{% include head.html %}

<body>
<!-- header -->
  {% include header.html %}

  <section class="banner">
    <div class="inner">
      <header class="major">
  <h1>{{ page.landing-title }}</h1>
</header>
  <div class="content">
  <p>{{ page.tagline }}</p>
  <ul class="actions">
    <li><a href="https://itunes.apple.com/us/podcast/bettercast/id1182483561?mt=2" class="button special icon fa-rss">Subscribe</a></li>
</ul>
</div>
  </div>
</section>

<!-- Main -->
<div id="main">
  <div class="inner">

  <!-- content -->
  {{ content }}

  <!-- Tiles -->
  {% include tiles.html %}


  <!-- footer -->
  {% include footer.html %}
</body>

</html>
