<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <div class="main">
      <div class="inner">
    <h1>{{ page.title }}</h1>

    <article>
      <div class="content reading">
             {{ page.soundcloud }}
        <span class="image right style6">
          <img src="/{{ page.image }}" alt="">
        </span>
    {{ content }}
  </div>
  </article>
  <ul class="actions">
    <li><a href="https://itunes.apple.com/us/podcast/bettercast/id1182483561?mt=2" class="button special icon fa-rss">Subscribe</a></li>
</ul>

    {% include footer.html %}

  </div>
</div>


</body>

</html>
