<!DOCTYPE html>
<html>

{% include head.html %}

<body>
<!-- header -->
  {% include header.html %}

  <section class="banner fullscreen">
    <div class="inner">
      <header class="major">
  <h1>{{ page.landing-title }}</h1>
</header>
  <div class="content">
  <!-- <p>{{ page.tagline }}</p> -->
  <ul class="actions">
    <li><a href="#bettercast" class="button icon fa-play smooth-scroll">previous episodes</a></li>
    <li><a href="https://itunes.apple.com/us/podcast/bettercast/id1182483561?mt=2" class="button special icon fa-rss">subscribe</a></li>
</ul>
</div>
  </div>
</section>

<!-- Main -->
<div id="main">
  <div class="inner">

  <!-- content -->
  {{ content }}

  <!-- Tiles -->
  <section id="bettercast">
  {% include tiles.html %}
</section>

  <!-- footer -->
  {% include footer.html %}
</body>

</html>
